@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Header start */

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  width: 1100px;
  margin: 0 auto;
}

.header-parts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 23px;
}

.header-nav {

}
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
.header-nav-item {
  padding-right: 25px;
}
.header-nav-item:last-child {
  padding-right: 0  ;
}
.header-nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 100;
}

.header-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header-icons-link {
  padding-right: 30px;
}
.header-icons-link:last-child {
  padding-right: 0;
}

/* Header end */


/* Footer start */

.footer {
  background-image: url(./assets/footerback.png);
  background-position: center;
}
.footer-logo-img {
  width: 200px;
}
.footer-wrapper {
  width: 1000px;
  margin: 0 auto;
}
.footer-pos {
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
}
.footer-top-list {
  padding-left: 0;
  padding-right: 120px;
  padding-top: 35px;
}
.footer-top-top {
  padding-bottom: 45px;
  list-style-type: none;
}
.footer-top-top-logo {
  padding-bottom: 20px;
  list-style-type: none;
}
.footer-top-item {
  list-style-type: none;
}
.footer-top-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 100;
}

.footer-mid {
  padding-bottom: 40px;
}
.footer-mid-link {
  padding-right: 30px;
}
.footer-mid-btn {
  width: 180px;
  height: 45px;
  border: 0;
}

.footer-btm {

}
.footer-btm-texts {
  display: flex;
  flex-wrap: wrap;
}
.footer-btm-text {
  font-size: 12px;
  padding-right: 30px;
}
.footer-back {
}

/* Footer end */


/* Main start */

.main {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.main-wrapper {
  width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}

.main-left {
  position: absolute;
  z-index: 1px;
}

.main-left-pic {
  width: 510px;
  height: 100%;
}
.main-right {
  position: relative;
  z-index: 2px;
}

.head1 {
  padding-top: 80px;
  font-size: 48px;
  line-height: 24px;
  font-style: normal;
  padding-left: 390px;
  padding-bottom: 20px;
  margin: 0;
}

.head2 {
  padding-left: 500px;
  font-size: 60px;
  color: rgb(225,34,249);
  margin: 0;
  padding-top: 15px;
}

.head3 {
  font-size: 46px;
  padding-left: 420px;
  margin: 0;
  padding-top: 22px;
}
.text1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 100;
  padding-left: 550px;
  padding-top: 60px;
}


/* Main end */

/* Hist start */
.hist {
  background-color: #F8F8F8;
}
.hist-wrapper {
  height: 100%;
  width: 1100px;
  margin: 0 auto;
}
.hist-parts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hist-left {

}
.hist-left-text1 p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 100;
  padding-top: 50px;
}
.hist-left-text2 p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  padding-top: 20px;
  padding-left: 62%;
}
.hist-right {
  background-color: #3B3B3B;
}
.hist-right-pic1 {
  width: 300px;
  height: 100%;
} 
.hist-right-text3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}
/* Hist end */

/* Booksrc start */
.booksrc {
  height: 80vh;
}
.booksrc-wrapper {
  height: 100%;
  width: 1100px;
  margin: 0 auto;
}
.booksrc-parts {
  padding-top: 70px;
}
.book-container {
  border: 1px solid #ddd;
  max-width: 1100px;
  margin: auto 0;
  background-color: #fff;
}
.book-container-cont {
  padding: 20px;
}
.book-cont {
  width: 1100px;
  height: 250px;
  padding: 20px;
}
.book-content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.book-details {
  flex: 1;
}
.book-details1 {
  display: flex;
  flex-direction: column;
}
.book-details2 {
  margin-right: 100px;
}

.book-details h2 {
  font-size: 24px;
  font-weight: bold;
}

.book-details p {
  color: #555;
  margin-top: 10px;
  line-height: 1.6;
}

.buttons {
  margin-top: 20px;
}

.read-btn, .rec-btn, .add-btn {
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.read-btn {
  background: linear-gradient(to right, #8b00ff, #ff00ff);
  color: white;
}
.search-area {
  display: flex;
}
.rec-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #434343;
}

.add-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #434343;
}

.book-image img {
  margin-left: 150px;
  max-width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.search-container {
  padding-bottom: 70px;
}
.search-cont {
  display: flex;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background-color: #fff;
}

.search-container input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #555;
  border-radius: 8px;
  background-color: #fff;
  width: 330px;
}

.search-container input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic;
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.search-container button img {
  width: 20px; /* Adjust the size of the search icon */
  height: 20px;
}

/* Booksrc end */

/* Buy start */

.buy {
  height: 90vh;
}
.buy-wrapper {
  width: 1100px;
  margin: 0 auto;
}
.buy-p {
  font-weight: 100;
}
.buy-price {
  font-size: 36px;
  font-weight: 100;
  padding-left: 20px;
}
.buy-info {
  padding-left: 60px;
}
.buy-info h1 {
  font-weight: 200;
}
.buy-mid {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.buy-info-sec {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.buy-sec-btn {
  width: 200px;
  height: 45px;
  border: 0;
  background: linear-gradient(to right, #8b00ff, #ff00ff);
}

/* Buy end */

.boogs-section {
}

.boog-item1 {
  background-color: #f9f9f9;
  display: flex;
}
.boog-item2 {
  background-color: #f9f9f9;
  display: flex;
}

.boog-image {
  width: 50%;
  height: auto;
}

.boog-details {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boog-details-1 {
  
}
.boog-details-2 {
}

.boog-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #3B3B3B;
}

.boog-details p {
  font-size: 1rem;
  color: #3B3B3B;
  margin-bottom: 15px;
}

.details-button,
.all-books-button {
  background-color: #EBEBEB;
  color: #2C2C2C;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.details-button:hover,
.all-books-button:hover {
  background-color: #0056b3;
}

.all-books-button {
  margin-top: 20px;
  width: 100%;
}



.blog-section {
  padding: 150px;
  text-align: center;
}

.blog-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.blog-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.blog-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.blog-card {
  width: 30%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: auto;
}

.blog-content {
  padding: 15px;
}

.blog-content p {
  font-size: 1rem;
  margin: 0;
}
